<!-- haz un sidenav que incluyan las rutas pertinente y basico, la info del menu se tiene que ver en forma de lista y que sean ancords pero con [routerLink]. el sidenav tiene que abrir y cerrar -->

<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    class="example-sidenav"
    [fixedInViewport]="options.value.fixed"
    [fixedTopGap]="options.value.top"
    [fixedBottomGap]="options.value.bottom"
  >
  <mat-nav-list>
    <a [routerLink]="['/product']">Producto</a>
    <a [routerLink]="['/order']">Order</a>
    <a [routerLink]="['/customer']">Customer</a>
  </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>

