@import "../../../styles.scss";

:host{
  grid-row: span 3;
  display: flex;
  flex-direction: column;
}

.active {
  background-color: red;

}

@media(max-width:368px){
  :host{
    display: none;
  }
}
